* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 20px;
  --primary-bg: hsl(39 100% 86%);
  --secondary-bg: hsl(129, 60%, 25%);
  --tertiary-bg: hsla(279 100% 33.5% / 0.97);
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content:space-around;
  background-color: var(--secondary-bg);
  height: 60px;
  align-items: center;
}

a {
  text-decoration: none;
}

.header-flex-a {
  margin-right: 20px;
  position: relative;
  right: 70px;
}

.header-flex-a h1 {
  margin-left: 15px;
  font-size: 40px;
  color: var(--primary-bg);
}

nav {
  height: 100%;
  margin-left: 20px;
  position: relative;
  left: 70px;
}

ul { 
  list-style: none;
  display: flex;
  height: 100%;
}

.header-ul-flex-cont {
  margin-right: 15px;
}

.header-ul-flex-cont li{
  text-decoration: none;
  margin-inline: 10px;
  margin-block: auto;
  font-size: 20px;
}

.nav-buttons a {
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 5px;
  color: var(--primary-bg);
  background-color: var(--tertiary-bg);
  cursor: pointer;
}

.nav-buttons a:hover {
  color: var(--tertiary-bg);
  background-color: var(--primary-bg);
}

main {
  background-color: var(--primary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.main-flex-img {
  margin: auto 100px;
}

.main-flex-p {
  width: 500px;
  margin-right: 50px;
  font-size: 25px;
}

.main-flex-sect {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.main-flex-sect h2{
  margin-top: 30px;
  font-size: 25px;
  padding-left: 30px
}

.main-sect-flex-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  text-align: center;
  width: 400px;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg);
}

#contact h2 {
  width: 700px;
  text-align: center;
  font-size: 30px;
  margin-block: 30px;
  border-bottom: 3px solid var(--tertiary-bg);
}

.contact-flex-section {
  display: flex;
  justify-content: center;
}

.contact-flex-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-flex-form input {
  margin: 15px 30px;
  border: 3px solid var(--tertiary-bg);
  border-radius: 5px;
}

.contact-flex-form input, textarea {
  background-color: var(--primary-bg);
}

.contact-flex-form button {
  margin-block: 30px;
  cursor: pointer;
  color: var(--primary-bg);
  background-color: var(--tertiary-bg);
  width: 44%;
  border-radius: 5px;
}

.contact-flex-info {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.contact-flex-info p{
 margin-bottom: 20px;
}

footer {
  color: var(--primary-bg);
  background-color: var(--secondary-bg);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  margin-block: 7px;
}