* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 20px;
  --primary-bg: hsl(39 100% 86%);
  --secondary-bg: hsl(129, 60%, 25%);
  --tertiary-bg: hsla(279 100% 33.5% / 0.97);
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content:space-around;
  background-color: var(--secondary-bg);
  height: 60px;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--primary-bg);
}

.header-flex-a {
  margin-right: 20px;
  position: relative;
  right: 70px;
}

.header-flex-a h1 {
  margin-left: 15px;
  font-size: 40px;
}

nav {
  height: 100%;
  margin-left: 20px;
  position: relative;
  left: 70px;
}

ul { 
  list-style: none;
  display: flex;
  height: 100%;
}

.header-ul-flex-cont {
  margin-right: 15px;
}

.header-ul-flex-cont li{
  text-decoration: none;
  margin-inline: 10px;
  margin-block: auto;
  font-size: 20px;
}

.nav-buttons a {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 5px;
  color: var(--primary-bg);
  background-color: var(--tertiary-bg);
}

.nav-buttons a:hover {
  color: var(--tertiary-bg);
  background-color: var(--primary-bg);
}

main {
  background-color: var(--primary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.main-flex-img {
  margin: auto 100px;
}

.main-flex-p {
  width: 400px;
  margin-right: 50px;
}

.main-flex-sect {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  height: 100%;
}

.main-flex-sect h2{
  margin-top: 30px;
  font-size: 25px;
  padding-left: 30px
}

.main-sect-flex-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  text-align: center;
  width: 400px;
}

#contact {
  display: flex;
  justify-content: center;
}